* {
  margin: 0;
  padding: 0;
  /* background: #F6F8FA; */
}

.stroke {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
